.searchTwo {
    position: relative;
    top: 450px;
    width: 1015px;
    z-index: 1;
    left: 5%;
    @media(max-width: 990px){
        top: 60px;
    }
    h1 {
        color: white;
        
        font-size: 36px;
        letter-spacing: 0.33px;
        font-weight: 100;
        margin: 0;
    }
    p {
        color: white;
       
        font-size: 16px;
        opacity: 0.65;
        margin: 8px 0 0 0;
    }
    .searchBarTwo {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        bottom: 230px;
        align-items: center;
        position: absolute;
    }

    .ButtonArrow{
        border: none;
        background: none;
        color: white; 

        .ArrowIcon{
            font-size: 25px;
            padding-top: 18px;
        }
    }
  
}