.ContentItemsAccount{
    background-color: whitesmoke;
    padding: 8px;
    margin-top: 27px;
    position: absolute;
    height: 250px;
    padding-left: 20px;
    width: 130px;
    visibility: hidden;
    .ItemsAccount{
        color: rgb(68, 67, 67);
        font-family: 'Roboto', helvetica, Arial, sans-serif;
        font-weight: normal;
        white-space: nowrap;
        font-size: 14px;
        height: 25px;
        padding-top: 15px;
    }
    &:hover{
        visibility: visible;
        cursor: pointer;
    }
}