.general{
    padding-left: 67px;
    padding-top: 60px;
    .FeatureSection{
        display: flex;
        @media(max-width: 1200px){
            flex-direction: column;
        }
    }
    .SectionSearchheader{
        .TitleSearchHeader{
            color:white;
        }
        .TextSearchHeader{
            color: rgba(255, 255, 255, 0.3);
        }
    }
}