.itinerary {
    display: flex;
    width: 100%;
    justify-content: center;
    .duration {
        color: gray;
        font-size: 12px;
    }

    .sectionAirports {
        display: flex;
        position: absolute;
        margin-top: 7px;
        width: 180px;
        justify-content: space-between;
        .sectionPlane{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 58px;
            .point{
                width: 7px;
                height: 7px;
                background-color: blue;
                border-radius: 50%;               
                position: relative;
                z-index: 1;
             } 
            .airport {
                color: gray;
                font-size: 10px;
                margin-top: 18%;
            }
        }
        .initial{
            align-items: flex-start;
         }   
         .ending{
            align-items: flex-end;
         }
        .intermediate{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 58px;
            align-items: center;

            .intermediatePoint{
                width: 7px;
                height: 7px;
                background-color: gainsboro;
                border-radius: 50%;               
                position: relative;
                z-index: 1;
                
            }
            .hide{
                visibility: hidden;
            }
            .intermediateAirport{
                color: gray;
                font-size: 10px;
                margin-top: 46%;
            }
        }
    }

    .itineraryPath {
        width: 180px;
        border-top: 2px solid gainsboro;
        margin-top: 7%;
        position: absolute;
    }
}