.ContentLanguages {
    position: absolute;
    margin-top: 25px;
    visibility: hidden;
    .TitleContentLanguages {
        font-family: 'Roboto', helvetica, Arial, sans-serif;
        letter-spacing: 0.33px;
        font-weight: bold;
        background-color: whitesmoke;
        font-size: 14px;
        line-height: 1.1;
        color: inherit;
        color: rgb(68, 67, 67);
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 45px;
    }

    .GeneralLenguages {
        background-color: whitesmoke;
        width: 750px;
        display: flex;
        position: relative;
        height: 395px;
        flex-wrap: wrap;
        flex-direction: column;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;

        .ContentCountries {
            display: flex;
            padding: 5px;

            .FlagImage {
                height: 23px;
            }

            .TitleLanguage {
                font-family: helvetica, Arial, sans-serif;
                font-size: 12px;
                margin-top: 5px;
                margin-left: 10px;
                color: #7a7a7a;
                width: 100%;
            }
        }
    }
    &:hover{
        visibility: visible;
        cursor: pointer;
    }
}