.SectionRadio{
    display: flex;
    margin-top: -1%;
    .BlockRadio{
        display: flex;
        padding: 10px;
        .RadioInput{
            color: white;
            margin-top: 7%;            
        }
        .textRadio{
            color: #fff;
            opacity: 0.85;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            padding: 4px;
        }
    }
}

.SectionRadio.interior{
    display: flex;
    position: absolute;
    z-index: 2;
    margin-top: 16%;
    margin-left: 5%;
}