.TitleOnSearchBar{
    position: absolute;
    top: 120px;
    display: flex;
    z-index: 1;
    color: gainsboro;
    justify-content: space-around;
    right: 11%;    
    margin-left: 146px;
    width: 75%;
    font-size: 12px;
    font-family: helvetica, Arial, sans-serif;
}