.itineray {
    display: flex;
    width: 100%;
    justify-content: center;
    .duration {
        color: gray;
        font-size: 12px;
    }

    .sectionAirports {
        display: flex;
        position: absolute;
        margin-top: 3%;
        width: 180px;
        justify-content: space-between;

        .airports {
            color: gray;
            font-size: 10px;
            margin-top: 13%;
        }
    }

    .itineraryPath {
        width: 180px;
        border-top: 1px solid gainsboro;
        margin-top: 4%;
        position: absolute;
    }
}