.SectionSearchheader{
    padding-top: 75px;

    .TitleSearchHeader{
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        font-weight: lighter;
        
    }
    .TextSearchHeader{
        font-family: helvetica, Arial, sans-serif;
        padding-top: 10px;
        padding-bottom: 2%;
    }
}