.contentImgfinal {
    display: flex;
    position: absolute;
    bottom: 50px;
    left: 900px;
    box-shadow: 0 0 1em gray;
    
    .imgfinal {
        display: flex;
        position: relative;
        background-color: dodgerblue;
        height: 230px;
    }

    .sectionDeals {
        display: flex;
        position: absolute;
        margin-left: 10%;
        .titleDeals {
            display: flex;
            color: white;
            font-family: 'Roboto', helvetica, Arial, sans-serif;
            letter-spacing: 0.33px;
            font-weight: bold;
            font-size: 14px;
            position: absolute;
            top: 25px;
            width: 250px;
        }

        .subTitleDeals {
            display: flex;
            color: white;
            font-family: 'Roboto', helvetica, Arial, sans-serif;
            letter-spacing: 0.33px;
            font-weight: bold;
            font-size: 14px;
            position: absolute;
            top: 55px;
            width: 300px;
        }

        .inputDeals {
            display: flex;
            position: absolute;
            width: 250px;
            height: 40px;
            top: 80px;
            border: 0;
            border-radius: 2px;
            color: gray;
        }

        .buttonDeals {
            DISPLAY: flex;
            position: absolute;
            height: 40px;
            background-color: orangered;
            text-decoration: none;
            color: white;
            width: 100px;
            border: none;
            top: 145px;
            border-radius: 2px;
            justify-content: center;
            font-weight: 800;
            font-size: 12px;
            opacity: 0.9;
            &:hover{
                opacity: 1;
                
            }
        }
    }
}