.SearchBar{
    display: flex;
    .SectionInputSearchBar {        
        border: 1px solid rgba(255, 255, 255, 0.3);        
        height: 55px;
        display: flex;
        
    }    
    .InputSearchBar{
        display: block;
        width: 100%;
        border: none !important;
        outline: none !important;
        height: 55px;
        color:white;
        font-size: 16px;
        background: none;
        padding-left: 13px;
    }
    .IconSearchbar{
        color:white;
        padding-top: 18px;
        padding-left: 10px;
        font-size: 20px;

    }
    .ButtonOk{
    display: block;
    height: 57px;
    line-height: 57px;
    text-align: center;
    padding: 0;
    width: 5%;
    color: #fff;
    background: #ff6c2d;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    border-radius: 0 3px 3px 0;
    box-shadow: 0 2px 30px rgba(255,145,98,0.65);
    position: inherit;
    }
    .ButtonArrow{
        border: none;
        background: none;
        color: white;
        

        .ArrowIcon{
            font-size: 25px;
            padding-top: 18px;
        }
    }
  
}