@import '../../styles/variables';

.Advertisement {
  background-color: white;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  //overflow: hidden;
  margin-bottom: 3%;
  p {
    font-size: 8px;
    font-family: $main-font;
    color: darkgray;
    margin: 1px 0 6px 0;
  }
  img {
    width: 222px;
  }
}
// ADVERTISMENT POR TAMAÑO (simple / double)
.simple {
    height: 400px;
}
.double {
    height: 620px;
}