*{
    margin: 0;
}
.general{
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('../src/assets/images/Background.jpeg');    
    height: 90.4vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: auto; 
    padding-left: 10%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
.isoAdantrip{
    position: absolute;
}
.Contentbig-ben{
    height: 300px;
    display: flex;
    overflow: hidden;
    .big-benImage{
        transform: translateZ(0) scale(1.2);
        filter: blur(8px);
      }
}